.select__div,
.form__login {
  margin-top: 30px;
}

.form__contain {
  width: 700px;
  span.ant-typography {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    display: block;
    font-size: 1rem;
  }
}

.app__header {
  background: #fff;
  padding: 0 50px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.itemCard {
  margin: 10px;
}

.itemCardBadge {
  margin: 8px;
}